@font-face {
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 300;
  src: url(https://rawcdn.githack.com/noirblancrouge/YoungSerif/8d0c1528f30f31e5c5aaf18d21e8e111568377d5/fonts/otf/YoungSerif-Regular.otf)
    format("opentype");
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate(-7.5deg);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: rotate(7.5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate(0deg);
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #efe7dc;
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.container {
  display: grid;
  place-items: center; /* centers both horizontally and vertically */
  height: 100dvh; /* limits viewport height */
  gap: 1rem;
}

.content {
  display: grid;
  justify-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  animation: rotate-left 7s infinite;
}

.company-byline {
  text-align: center;
  font-size: 18px;
}

.company-info {
  text-align: center;
  font-size: 16px;
}

.restrict-width {
  width: clamp(250px, 90vw, 550px);
}

.text-brand-pink {
  color: #d0433e;
}
